body:after {
    background-color: black !important;
    content: 'head.css' !important;
    text-align: center !important;
    font-size: 16px !important;
    position: fixed !important;
    height: 30px !important;
    color: red !important;
}